.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-center {
    text-align:start;
  }
  
  .login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    width: 100%;
    margin-top: 10px;
  }
  
  